params {
        // main
        resources_dir="${projectDir}/resources"
        output_dir="${projectDir}/output/MoDIFI_TESTa"
	temp_dir="${output_dir}/temp"
	script_dir="${projectDir}/scripts"
	SampleInfo = "${resources_dir}/SampleInfo.tsv"
        SamplePair = "${resources_dir}/SamplePair_v1.tsv"
	prior_file = "${resources_dir}/Gnocchi.tsv"
	// DATA: ATAC-seq
	ATACBAMFiles=[
	"IMR90":"/scr1/users/shawt5/P_HiCATAC/Nextflow/resources/imr90/atac_seq/bam/*.bam",
	"GM12878":"/scr1/users/shawt5/P_HiCATAC/Nextflow/resources/gm12878/atac_seq/bam/*.bam"
	]
	ATACBEDFile=[
	"IMR90":"/scr1/users/shawt5/P_HiCATAC/Nextflow/resources/imr90/atac_seq/*.bed.gz",
	"GM12878":"/scr1/users/shawt5/P_HiCATAC/Nextflow/resources/gm12878/atac_seq/*.bed.gz"
	]
	// DATA: RNA-seq
        RNACountFile=[
	"IMR90":"/scr1/users/shawt5/P_HiCATAC/Nextflow/resources/imr90/rna_seq/*.tsv",
	"GM12878":"/scr1/users/shawt5/P_HiCATAC/Nextflow/resources/gm12878/rna_seq/*.tsv"
	]
	// DATA: Hi-C
	HiCLoopsFile=[
	"IMR90":"/scr1/users/shawt5/P_HiCATAC/Nextflow/resources/imr90/hic/*.bedpe.gz",
	"GM12878":"/scr1/users/shawt5/P_HiCATAC/Nextflow/resources/gm12878/hic/*.bedpe.gz"
	]

	// Paramter: ATAC-seq
        ATACSeq='ATACseq'      //Labels for DEseq outputs
        atac_minQ=5            //Quality scores remove regions with Q<5
        ATAC_Key_col='Region'  // The main column for DEseq anlysis

        // Paramter: RNA-seq
        RNASeq='RNAseq'        //Labels for DEseq outputs
        RNA_Key_col='GeneID'   // The main column for DEseq anlysis
        RNA_ANN_File="${resources_dir}/hg38_annotation.txt"
        RNA_quantification='expected_count'

}

process {
   executor = "slurm"
   errorStrategy = 'finish'
   clusterOptions = "--mail-user shawt5@chop.edu --mail-type FAIL"

   withName: MapATACWithHiCWithPRO{
      memory = 24.GB
      maxForks = 4
      cpus = 3
   }
   withName: AdjustZInflation{
      memory = 24.GB
      maxForks = 4
      cpus = 3
   }
   withName: calMoDIFY{
      memory = 24.GB
      maxForks = 4
      cpus = 3
   }
   withName: runDEseq{
      memory = 24.GB
      maxForks = 4
      cpus = 3
   }
}


singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${projectDir}/"
    runOptions = "-B /scr1"
}

