params {
        // main
        resources_dir="${projectDir}/resources"
        output_dir="${projectDir}/output/MoDIFI_Ex"
	script_dir="${projectDir}/scripts"
	SampleInfo = "${resources_dir}/SampleInfo.tsv"
        SamplePair = "${resources_dir}/SamplePair.tsv"
	prior_file = "${resources_dir}/Gnocchi.tsv"
	RepNUM_atac=['GM12878': 2,
        'IMR90': 2]
	RepNUM_rna=['GM12878': 1,
        'IMR90': 2]
        // ATAC-Seq
        ATACpeakFile='/atac_seq/*.bed.gz'
	ATACSeq='ATACseq'      //Labels for DEseq outputs
	atac_minQ=5            //Quality scores remove regions with Q<5

	ATAC_Key_col='Region'  // The main column for DEseq anlysis

	// RNA-seq
        RNAFilePattern='/*tsv' 
        RNASeq='RNAseq'        //Labels for DEseq outputs
        RNA_Key_col='GeneID'   // The main column for DEseq anlysis
        RNA_ANN_File="${resources_dir}/hg38_annotation.txt"
        RNA_quantification='expected_count'

}

process {
   executor = "slurm"
   errorStrategy = 'finish'
   clusterOptions = "--mail-user shawt5@chop.edu --mail-type FAIL"

   withName: MapATACWithPRO{
      cpus = 4
      memory = 24.GB
   } 
   withName: MapATACWithHiCWithPRO{
      memory = 32.GB
      maxForks = 4 
      cpus = 3
   }
   withName: AdjustZInflation{
      memory = 32.GB
      maxForks = 4
      cpus = 3
   }
   withName: calMoDIFY{
      memory = 32.GB
      maxForks = 4
      cpus = 3
   }
   withName: runDEseq{
      memory = 32.GB
      maxForks = 4
      cpus = 3
   } 
}


singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${projectDir}/images"
    runOptions = "-B /scr1"
}


